.movie-card {
  width: 14rem;
  margin-left: 30px;
  margin-bottom: 10px;
}

.movie {
  text-align: left;
}

.movie button {
  color: brown;
  width: 30px;
  height: 30px;
}

.wishlist-bn {
  float: "right";
}

.movie-item {
  text-decoration: none;
  color: black;
}
.movie-item img {
  width: 130px;
}

.tb-cl-1 {
  width: 20%;
}

.tb-cl-2 {
  width: 40%;
}

.tb-cl-1 {
  width: 10%;
}

.tb-cl-1 {
  width: 10%;
}

.tb-cl-1 {
  width: 20%;
}
